.guitars-block {
  flex-wrap: wrap;
  padding: 30px;
}
.guitars {
  display: flex;
  flex-direction: row;
  justify-content: safe;
  align-items: baseline;
  flex-wrap: wrap;
}
.thumbnail {
  margin: 5px;
  padding-bottom: 5px;
  background-color: #EEEEEE;
}
.thumbnail:hover {
  background-color: #BDBDBD;
  transition: all 1s;
}
.btn-more {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.btn:hover {
  text-decoration-line: underline;
  animation: shadow 2s infinite ease-in-out;
}
@media all and (max-width:420px) {
  .btn:hover {
    animation: shadow 1s ease-in-out;
  }
}


